
.container {
   max-width: 1920;
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   
   width: 100%;
}

.wrapper {
   display: flex;
   flex-direction: row;
   position: relative;
   width: 80%;
   align-items: center;
   justify-content: center;
}