.App {
  /* padding: 50px; */
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
}


.cam {
  /* width: 100%; */
  /* min-width: 400px; */
  /* max-height: 70%; */
  /* height: 100%; */
  /* position: absolute; */
  /* height: 100%; */
  width: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
}


